<html>
    <head>
        <script type="text/javascript" src="/assets/jquery.js"></script>
        <script type="text/javascript" src="/javascript/prompt.js"></script>
    </head>
    <body id="body">
        <div id="hello" style="display:none">
            Witaj, <span id="firstname"></span>! Jak leci?
        </div>
    </body>
</html>