<html>
    <head>
        <script type="text/javascript" src="/javascript/jquery.js"></script>
        <script type="text/javascript" src="/javascript/prompt.js"></script>
        <script type="text/javascript" src="/javascript/hadlebars.js"></script>
    </head>
    <body id="body">
        <script id="hello-tpl" type="text/x-handlebars-template">
            Witaj, {{firstname}}! Jak leci?
        </script>
        <div id="hello">
        </div>
    </body>
</html>