<h1>Lista kategorii</h1>

<ul class="nav nav-tabs">
  <li>
    <a href="/admin/orders/">Zamówienia</a>
  </li>
  <li><a href="/admin/products/">Produkty</a></li>
  <li class="active"><a href="/admin/categories/">Kategorie</a></li>
</ul>

<a href="/admin/categories/new" class="btn btn-primary">Utwórz nową</a>

<table class="table">
  <thead>
        <tr>
            <th>Nazwa</th>
            <th>Czynności</th>
        </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
      <tr>
            <td><%= category.name %></td>
            <td>
                <a href="/admin/categories/<%= category.id %>/edit">Edycja</a>
                <a href="/admin/categories/<%= category.id %>/remove">Usuń</a>
            </td>
      </tr>
  <% end %>
  </tbody>
</table>