<h1>Utwórz nowy produkt</h1>

<form method="post" action="/admin/categories/">

    <label>
        Nazwa:
        <input type="text" name="name" />
    </label>

    <input type="submit" value="Utwórz" />

</form>